<p-toast></p-toast>

<div class="container mt-5">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h3>Araç Hasar Yönetimi</h3>
        </ng-template>

        <ng-template *ngIf="selectCarId > 0" pTemplate="right">
            <button pButton pRipple label="Araç Detayına Dön" icon="pi pi-chevron-left" class="p-element p-ripple p-button p-component" [routerLink]="['/car/', selectCarId]"></button>
            <button pButton pRipple label="Ekle" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="damages" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>Id</th> -->
                <th>Araç Markası</th>
                <th>Araç Plakası</th>
                <th>Hasar Açıklaması</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr *ngIf="record.id != null && record.id >0">
                <!-- <td>{{product.id}}</td> -->
                <td>{{record.brandName}}</td>
                <td>{{record.carPlate}}</td>
                <td>{{record.description}}</td>

                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(record)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(record)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="dialog" [style]="{width: '500px' }" header="Araç Hasar Detayı" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field col-12 md:col-4">
            <label for="float-input">Hasar Açıklaması</label>
            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="selectRecord.description"></textarea>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Kaydet" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
    <!-- <app-car-maintenance-detail [carId]="selectCarId" [selectMaintenance]="selectRecord" (changeChilde)="hideDialog()"></app-car-maintenance-detail> -->
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>