<div class="container mt-5">
        <div class="card pb-5">
            <div *ngIf="carId==0" class="card-header">
                <h5 class="title">Araç ekle</h5>
            </div>
            <div class="card-body">               

                <form [formGroup]="carAddForm">
                    <!-- <div class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="number" 
                            id="modelYear" 
                            formControlName="modelYear" class="form-control" 
                            placeholder="Araç Model Yılı"/>
                        </div>
                    </div> -->
                    <!-- <span class="p-float-label">
                        <input id="float-input-invalid" type="number" pInputText id="modelYear" formControlName="modelYear" class="ng-invalid ng-dirty"> 
                        <label for="float-input-invalid">Model Yılı</label>
                    </span> -->
                    <div class="p-fluid mb-4">
                        <!-- <label for="brandId">Marka</label> -->
                        <p-dropdown [options]="brands" id="brandId" formControlName="brandId" placeholder="Marka"
                            optionLabel="name" optionValue="id" [showClear]="true">
                        </p-dropdown>
                    </div>
                    
                    <div class="p-fluid mb-4">
                        <!-- <label for="colorId">Renk</label> -->
                        <p-dropdown [options]="colors" id="colorId" formControlName="colorId" placeholder="Renk"
                            optionLabel="name" optionValue="id" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-fluid mb-4">
                        <!-- <label for="carSegmentTypeId">Araç Segmenti</label> -->
                        <p-dropdown [options]="segments" id="carSegmentTypeId" formControlName="carSegmentTypeId"
                            placeholder="Araç Segmenti" optionLabel="segmentName" optionValue="id" [showClear]="true">
                        </p-dropdown>
                    </div>
                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText pInputText id="carPlate" formControlName="carPlate">
                            <label for="float-input">Araç Plakası</label>
                        </span>
                    </div>
                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="number" pInputText pInputText id="modelYear" formControlName="modelYear">
                            <label for="float-input">Model Yılı</label>
                        </span>
                    </div>

                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="number" pInputText pInputText id="kilometer"
                                formControlName="kilometer">
                            <label for="float-input">Kilometre</label>
                        </span>
                    </div>

                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText pInputText id="description"
                                formControlName="description">
                            <label for="float-input">Açıklama</label>
                        </span>
                    </div>

                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="number" pInputText pInputText id="minYear"
                                formControlName="minYear">
                            <label for="float-input">Gerekli olan Min. Yaş</label>
                        </span>
                    </div>

                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="number" pInputText pInputText id="findexScore"
                                formControlName="findexScore">
                            <label for="float-input">Gerekli olan Min. Skor</label>
                        </span>
                    </div>

                    <div class="p-fluid mb-4">
                        <span class="p-float-label">
                            <input id="float-input" type="number" pInputText pInputText id="dailyPrice"
                                formControlName="dailyPrice">
                            <label for="float-input">Günlük Fiyat</label>
                        </span>
                    </div>

                </form>
            </div>
            <div class="text-center">
                <p-button label="Ekle" (click)="save()"></p-button>
            </div>
        </div>
</div>