<p-toast></p-toast>

<div class="container">
  <div class="card">
    <p-toolbar styleClass="mb-3">
      <ng-template pTemplate="left">
        <h3>Araç Detayı</h3>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button pr-4" [routerLink]="['/car']"></button>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success pr-4" (click)="edit()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete()"></button>
      </ng-template>
    </p-toolbar>
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <img height="500px" src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" />
          </div>

          <div class="tab-pane" id="pic-2"><img /></div>
          <div class="tab-pane" id="pic-3">
            <img src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" />
          </div>
          <div class="tab-pane" id="pic-4">
            <img src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" />
          </div>
          <div class="tab-pane" id="pic-5">
            <img src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" />
          </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active">
            <a data-target="#pic-1" data-toggle="tab"><img
                src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" /></a>
          </li>
          <li>
            <a data-target="#pic-2" data-toggle="tab"><img
                src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" /></a>
          </li>
          <li>
            <a data-target="#pic-3" data-toggle="tab"><img
                src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" /></a>
          </li>
          <li>
            <a data-target="#pic-4" data-toggle="tab"><img
                src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" /></a>
          </li>
          <li>
            <a data-target="#pic-5" data-toggle="tab"><img
                src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small" /></a>
          </li>
        </ul>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{ car.brandName }}</h3>
        <p class="product-description">
          <strong>Plaka : </strong> {{ car.carPlate }}
        </p>
        <p class="product-description">
          <strong>Segment : </strong> {{ car.segmentName }}
        </p>
        <p class="product-description">
          <strong>Model Year : </strong> {{ car.modelYear }}
        </p>
        <p class="product-description">
          <strong>Color : </strong> {{ car.colorName }}
        </p>
        <p class="product-description">
          <strong>Min findex Score and Age: : </strong> {{ car.findexScore }} - {{ car.minYear }}
        </p>

        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">
            <strong>Kilometer : </strong> {{ car.kilometer }}
          </span>
        </div>
        <p class="product-description">
          <strong>Description : </strong> {{ car.description }}
        </p>
        <h4 class="price mb-5">
          current price: <span>${{ car.dailyPrice }}</span>
        </h4>
        <div class="row mt-5 pt-5">
          <div class="col-3">
            <button pButton icon="pi pi-pencil" label="Kirala" class="p-button p-button pr-4" [routerLink]="['/car/rental/add/', car.id]"></button>
          </div>
          <div class="col-5 ">
            <p-button label="Bakım Geçmişi" [routerLink]="['/car/maintenances/', car.id]"></p-button>
          </div>
          <div class="col-4">
            <p-button label="Hasar Geçmişi" [routerLink]="['/car/damages/', car.id]"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="dialog" [style]="{width: '550px'}" header="Araç Tanım Detayı" [modal]="true" styleClass="p-fluid">
  <app-car-add [carId]="car.id" (changeCar)="hideDialog()"></app-car-add>
</p-dialog>


<p-dialog [(visible)]="rentalDialog" [style]="{width: '550px'}" header="Yeni Kiralama" [modal]="true" styleClass="p-fluid">
  <app-rental-add [carId]="car.id" (changeCar)="hideRentalDialog()"></app-rental-add>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>