<p-toast></p-toast>

<div class="container mt-5">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <h3>Şehir Tanım Yönetimi</h3>
        </ng-template>

        <ng-template pTemplate="right">
              <button pButton pRipple label="Ekle" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="colors" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>Id</th> -->
                <th>Şehir Adı</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <!-- <td>{{product.id}}</td> -->
                <td>{{product.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(product)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="dialog" [style]="{width: '350px'}" header="Şehir Tanım Detayı" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field pb-2">
            <label for="name">Şehir Adı</label>
            <input type="text" pInputText id="name" [(ngModel)]="selectRecord.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selectRecord.name">Şehir Adı zorunludur</small>
        </div>
        <div class="p-field">
            <label for="name">Şehir Plaka No</label>
            <input type="text" pInputText id="cityCode" [(ngModel)]="selectRecord.cityCode" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selectRecord.name">Şehir Plaka No zorunludur</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Kaydet" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>